#fnv {
    border:0px;
    color:red;
    width:200px;
}

#fnv1 {
    border:0px;
    color:red;
    width:200px;
}

#fnv2 {
     border:0px;
    color:red;
    width:200px;
}

#snv {
 border:0px;
    color:red;
    width:200px;
}

#snv1 {
 border:0px;
    color:red;
    width:200px;
}

#snv2 {
 border:0px;
    color:red;
    width:200px;
}

#pc {
    border:0px;
    color:red;
    width:300px;
}
#agev {
    border:0px;
    color:red;
    width:200px;
}
#agev2 {
    border:0px;
    color:red;
    width:200px;
}

#emailv {
    border:0px;
    color:red;
    width:200px;
}